*{
    margin: 0;
}

.header{
    width: 100%;
    background-color: #78b43c;
    font-size: 13px;
    display: flex;
    color: #ffff;
    justify-content: center;
    .item-logo {
        align-items: center;
        .img-logo{
            width: 70%;
            
        }
    
    }
    .item {
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        max-width: 100px;
        box-sizing: border-box;
        p {
            white-space: pre;
        }
        img{
            width: 23px !important;
            height: 23px;
        }
        
    }
   .item-menu {
       
       img {
           width: 40%;
       
       }
   }
   .item-list {
        width: 45%;
        display: flex;
        
   }
   
}